<div class="footer"><span class="footer-link"><a href="mailto:hello@newportdataproject.org">Contact</a> <a
        href="https://github.com/NewportDataProject">GitHub</a> <a
        href="https://trello.com/newportdataproject">Trello</a>
        <div class="dropdown">
            <a class=>Social</a>
                <div class="dropup-content">
                <a href="#">Facebook</a>
                <a href="https://twitter.com/NewportData" target="_blank">Twitter</a>
            </div>
        </div></span></div>