body {
    background-image: url("../img/Chateau-sur-Mer_lightened_blue.png");
    background-repeat: no-repeat;
    background-position: 59% 74%;
    background-attachment: fixed;
    background-size: 2600px;
}

.content {
    background-color: rgba(255, 255, 255, .95);

}