body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #650505
}

#logo {
    max-width: 130px;
    min-width: 70px;
    width: 20%;
    height: auto;
    margin: auto;
}

.logo-container {
    max-width: 1080px;
    margin: auto;
    text-align: left;
}

#banner {
    max-width: 720px;
    min-width: 300px;
    height: auto;
    width: 100%;
    margin: auto;
    opacity: .94;
}

.banner-container {
    max-width: 820px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 100px;
}
/* Body settings*/
.body-container{

}

/* Content settings*/

.content {
    padding: 3px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.88);
    max-width: 720px;
    width: 60%;
    min-width: 300px;
    margin: auto;
    border-radius: 5px;
    border-style: solid;
    border-color: #650505;
}

/*Link button settings*/
.button-container {
    max-width: 720px;
    margin: auto;
    text-align: center;
}
.link-button {
    background-color: #650505;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2%;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
}

.link-button:hover {
    background-color: red;
}
