body {
    background-image: url("Marble_House_in_Newport_Dining_Room_01.jpg");
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-attachment: fixed;
    background-size: 2000px;
}

ul {
    text-align: center;
    display: inline;
}

#title {
    border-radius: 0px;
    border-style: none;
    padding-left: 0px;
    max-width: none;
    width:100%;
    margin-bottom: 15px;
    text-align: center;
}

.banner-container {
    margin-bottom: auto;
}