body {
    background-color: darkcyan;
}

#data-title-block {
    text-align: center;
    color: white;
}

.major-section {
    margin-top: 5%;
}

.data-button a {
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    border-radius: 3px;
    border: solid red;
    padding: 5px;
    margin: 10px;
    background-color: red;
}

.data-button a:hover {
    background-color: lightcoral;
}